<HTML>
<BODY BGCOLOR=“000000">
<FONT COLOR=#FFFFFF>
<CENTER>
<H1>
Mikee
</H1>
<a href="https://youtu.be/gXKkbwRWTWk">
<img src="mike.jpg" height="600px" 
width="600px"alt=""></a>
<H3>
Está página está dirigida a una persona que
en poco ha llegado a significar tanto en mi 
vida, es un chico muy inteligente, talentoso,
especial e importante para mí, y yo sé que él
va a a cumplir todos sus sueños.
<BR>
</BR>
No puedo creer que aún me siga soportando jaja,
es un chico con el que me puedo desahogar 
y me va a escuchar y me va a intentar ayudar,
le agradezco mucho por estar presente siempre
que lo he necesitado sin importar en que situación 
estemos, y también agradezco que me soportes.
<BR>
</BR>
Y aprovecho para decirle que cuenta con todo mí 
apoyo incondicionalmente, siempre estaré ahí 
para escucharlo, para intentar ayudarlo, porque no 
quiero verlo mal, no quiero que se haga daño, espero 
verte lo más pronto posible <3
</H3>
<BR>
</BR>
<H1>
TE AMOOO
</H1>
</Center>
</BODY>
</HTML>
